<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'professors.css') }}">
    <title>UHelper</title>
</head>
<body>
    <header class="container center padding">
        <h1 class="title">
            <b>UHelper</b>
        </h1>
        <p>
            The website made 
            <span class="fancy">by</span> 
            and made 
            <span class="fancy">for</span> 
            UH students.
        </p>    
    </header>        
</body>
</html>