<!DOCTYPE html>
<html lang="en">
    <head>
        <title>UHelper</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale =0, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'wordle.css') }}">
        <script src="{{ url_for('static', filename='wordle.js') }}"></script>
    </head>
    <body>
        <header class="container center padding">
            <h1 class="title">
                <b>UHelper</b>
            </h1>
            <p>
                The website made 
                <span class="fancy">by</span> 
                and made 
                <span class="fancy">for</span> 
                UH students.
            </p>    
        </header>
        <script>var word = "{{word}}"</script>
        <script src="{{ url_for('static', filename='wordle.js') }}"></script>
        
        <hr>
        <div class="row">
            <div class="card margin">
                <div class="container">
                    <h3>
                        <b>Find Professors</b>
                    </h3>
                </div>
                <div class="container">
                    <p>
                        Help find professors!    
                    </p>
                    <div class="row">
                        <button class="button padding-large white border">
                            <b>GO --></b>
                        </button>
                    </div>
                </div>
            </div>    
        </div>
        <br>
        <div id="board">


        </div>
        <br>
        <h1 id="answer"></h1>
    </body>
</html>