<!DOCTYPE html>
<html lang="en">
    <head>
        <title>UHelper</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale =0, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'wordle.css') }}">
        <script src="{{ url_for('static', filename='wordle.js') }}"></script>
    </head>
    <body>
        <header>
            <header class="container center padding">
                <h1>
                    <a href="/" class="UHelper" style="text-decoration: none; color: inherit;">
                        <b>UHelper</b>
                    </a>
                </h1>
                <p>
                    The website made 
                    <span class="fancy">by</span> 
                    and made 
                    <span class="fancy">for</span> 
                    UH students.
                </p>    
                <hr>
        </header>  
        </header>
        <div class="row">
            <div class="card margin">
                <img src="https://www.usnews.com/dims4/USNEWS/0430416/17177859217/resize/800x540%3E/quality/85/?url=https%3A%2F%2Fmedia.beam.usnews.com%2Ff9%2F1a980f168271a41b9f43a932298607%2FHawaii_Hall_4MB.jpg" 
                style="width: 100%">
                <div class="container">
                    <h3>
                        <b>Find Professors</b>
                    </h3>
                </div>
                <div class="container">
                    <p>
                        Help find professors!    
                    </p>
                    <div class="row">
                        <p>
                            <a href="login" actions="">
                                <button class="button padding-large white border" id="btn1" onclick="goto()">
                                    <b>GO >></b>
                                </button>    
                            </a>
                        </p>
                    </div>
                </div>
            </div>    
        </div>
        <br>
        <div id="board">


        </div>
        <br>
        <footer class="container dark-grey padding margin-top">
            <p class="foot">
                Brought to you by CB3 and KN
            </p>
            <div style="display: flex; gap: 15px; margin-left: 20px;">
                <a href="{{ url_for('login') }}">Login Page</a>
                <a href="{{ url_for('register') }}">Register Page</a>
            </div>
        </footer>
    </body>
</html>